.core--lsvr_family_member-single .core-header__content{
    text-align: right;
}
.core--lsvr_family_member-single .core-header__content{
    padding-right: 160px;
}
.core--lsvr_family_member-single .core-header__portrait{
    right: -160px;
}
.family-tree--4-cols .family-tree__grid--partners:before{
    right: calc( ( ( 100% - 120px ) / 4 ) / 2);
}
.family-tree__grid--partners:before{
    margin-right: -1px;
}
.family-tree__grid--children:before{
    margin-right: -1px;
}
.family-tree--4-cols .family-tree__grid--children:before{
    right: calc( ( ( 100% - 120px ) / 4 ) / 2);
}
.family-tree__card--child:before{
    right: -69%;
    left: 110px;
}
.family-tree__card--child:after{
    right: 50%;
    margin-right: -1px;
}
.family-tree__card--partner:before{
    right: -40px;
}
.family-tree--4-cols .family-tree__grid-item:nth-child(3n+1) .family-tree__card--child:before{
    right: -50%;
    margin-right: -40px;
}

.family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+1):not(:last-child) .family-tree__card--child:before, .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+2):not(:last-child) .family-tree__card--child:before{
    right: -109px;
}
.family-tree__branch:last-child .family-tree__row--2-rows .family-tree__grid--children:before{
    bottom: calc( 32% - 18px);
}