.custom-class-for-rtl:before{
    right: -50%;
    margin-right: -40px;
}

@media (max-width: 480px){
    .family-tree--4-cols .family-tree__grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .family-tree__grid{
        row-gap: 60px !important; 
    }
    .lsvr_family_member-archive--grid .post-archive__grid{
        row-gap: 30px !important;
    }
}